.App {
  font-family: 'Quicksand', sans-serif;
}

html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

.hover-effect:hover{
  transition: background-color 400ms ease-in;
  background-color: #CDE1A5;
}

.back{
  background:linear-gradient(#9ccc3b,#cde1a5)
}

@media only screen and (max-width:800px){
  #sldr{
    display: none;
  }
}